<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <style>
        body, form{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 10px;
            background-color: black;
            color: white;
        }
        button, input{
            padding: 10px;
            border-radius: 10px;
            border: 3px solid white;
            background-color: black;
            color: white;
        }
        button:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
        input{
            width:50vw;
        }
        th, td {
            border: 1px solid white; 
            padding: 8px;
            text-align: left;
            border-radius: 5px;
        }
        table{
            width: 95vw;
        }
    </style>
</head>
<body>
    <h1>URL Shortener</h1>
    <div>
        <form method="post" action="/url">
            <label>Enter your original URL - </label>
            <input type="text" name="url" placeholder="https://example.com" style="margin: 10px;"/>
            <button type="submit" style="margin: 10px;">Generate</button>
        </form>
    </div> 
    <% if (locals.id) { %>
        <div>
            Boom! Your link is live and kicking at 
            <a href="http://localhost:8001/url/<%= id %>">http://localhost:8001/url/<%= id %></a>
          </div>
    <% } %>
    <% if (locals.urls) { %>
    <table>
        <thead>
            <th>ID</th>
            <th>Short ID</th>
            <th>Redirect URL</th>
            <th>Clicks</th>
        </thead>
        <tbody>
            <% urls.forEach((url, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.redirectUrl %></td>
                    <td><%= url.visitHistory.length %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>
</body>
</html>